@{
    // cast in order to have improved accessors
    dynamic contentItem = Model.ContentItem;

    // access each part by its name
    string title = contentItem.TitlePart.Title;

    // var maxTec = contentItem.ProductFamilyFrit.MaxTec.Value;  // access numeric filed by its name
    // var imagePath = contentItem.ProductFamilyFrit.Image.FirstMediaUrl;  // access medilibrarypicker filed by its name
    // Model.Attributes.Add("id", "home-about");

    var tag = Tag(Model, "article");
}
@{ 
    if (string.IsNullOrEmpty(WorkContext.Layout.Title.ToString()))
    {
        WorkContext.Layout.Title = title;
    }
}
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
        </div>
    </div>
</header>

<!-- Products Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row post">
            <div class="col-xs-12">
                <img class="article-img-1 pull-right" src=@Href("~/Media/Default/Images/article/glaze.jpg")>
                <h2 class="section-heading">مجموعه‌ها (Compounds)</h2>
                <h3 class="section-subheading text-muted">مجموعه لعاب و انگوب آماده</h3>
                <p>شرکت کیمیا رازی با تکیه بر کیفیت بالای فریت‌ها و مواد اولیه دردسترس این شرکت یکی از بزرگترین تولیدکنندگان مجموعه‌های لعاب و انگوب در ایران است. کارشناسان ما درصورت تمایل مشتری، با توجه به شرایط تولید هر تولیدکننده کاشی و سرامیک، مجموعه‌های لعاب یا انگوب را طراحی می‌کنند. محصولات تولیدشده شامل لعاب‌های مات با انواع افکت‌های سطحی ویژه این نوع لعاب، انواع انگوب با طیف وسیعی از ضریب انبساط و حرارت پخت برای کاشی دیوار، مونوپروزا، کف و پرسلان و انواع لعاب‌های ترانسپارنت و اوپک می‌باشد.</p>
                <p>کیمیا رازی همواره تأمین‌کننده لعاب‌های مصرفی بسیاری از شرکت‌های مطرح تولیدکننده کاشی و سرامیک در ایران بوده است.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal225" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src=@Href("~/Media/Default/Images/portfolio/engobe.jpg") class="img-responsive" alt="KimiaRazi Engob">
                </a>
                <div class="portfolio-caption">
                    <h4>مجموعه انگوب</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal227" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src=@Href("~/Media/Default/Images/portfolio/matt-glaze.jpg") class="img-responsive" alt="KimiaRazi Matt Compound Glaze">
                </a>
                <div class="portfolio-caption">
                    <h4>لعاب مات</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal226" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src=@Href("~/Media/Default/Images/portfolio/opaque-glaze.jpg") class="img-responsive" alt="KimiaRazi Opaque Glaze">
                </a>
                <div class="portfolio-caption">
                    <h4>لعاب ترانسپارنت و اوپک</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">بسیاری از تولیدکنندگان برتر کاشی و سرامیک در جمع مشتریان لعاب‌های ما هستند. چون…</h2>
                <ul class="tick-list">
                    <li>
                        <i class="fa fa-check-circle"></i>
                        مجموعه‌های آماده انگوب و لعاب در کیمیا رازی به صورت کاملاً اتوماتیک تولید می‌شود و امکان اشتباه پرسنلی در توزین و ترکیب مجموعه وجود ندارد.
                    </li>
                    <li>
                        <i class="fa fa-check-circle"></i>
                        با توجه به این که کیمیا رازی تولیدکننده فریت است از مواد اولیه باکیفیت و تنوع بالا در تولید مجموعه لعاب و انگوب استفاده می‌کند.
                    </li>
                    <li>
                        <i class="fa fa-check-circle"></i>
                        به دلیل این که کار تخصصی کارشناسان کیمیا رازی فرموله کردن لعاب است، مجموعه‌های آماده انگوب و لعاب فرموله شده توسط آنها کیفیت بالاتری دارد.
                    </li>
                    <li>
                        <i class="fa fa-check-circle"></i>
                        در صورت خرید مجموعه‌های آماده، تولیدکنندگان کاشی و سرامیک نیازی به ذخیره انبار از مواد اولیه مختلف و متعدد برای ساخت مجموعه‌های مصرفی نخواهند داشت.
                    </li>
                    <li>
                        <i class="fa fa-check-circle"></i>
                        درصورت بروز مشکل در مجموعه مصرفی، مسئولیت آن به عهده کیمیا رازی است و مشتری تنها با یک تأمین‌کننده روبرو می‌شود.
                    </li>
                    <li>
                        <i class="fa fa-check-circle"></i>
                        امکان استفاده از مشاوره‌های بیشتر کیمیا رازی به‌ویژه در مواقع بروز مشکل وجود دارد.
                    </li>
                    <li>
                        <i class="fa fa-check-circle"></i>
                        درنهایت به دلایل فوق کیفیت محصول تولیدی توسط مشتری ارتقا می‌یابد.
                    </li>
                </ul>
                <p>
                    <strong>
                        کیمیا رازی به مشتریان خود استفاده از مجموعه‌های آماده انگوب و لعاب را توصیه می‌کند.
                    </strong>
                </p>
            </div>
        </div>
    </div>
</section>

@Display(Model.Content)
@if (Model.Footer != null)
{
    <footer>
        @Display(Model.Footer)
    </footer>
}