@{
    // cast in order to have improved accessors
    dynamic contentItem = Model.ContentItem;

    // access each part by its name
    string title = contentItem.TitlePart.Title;

    // var maxTec = contentItem.ProductFamilyFrit.MaxTec.Value;  // access numeric filed by its name
    // var imagePath = contentItem.ProductFamilyFrit.Image.FirstMediaUrl;  // access medilibrarypicker filed by its name
    // Model.Attributes.Add("id", "home-about");

    var tag = Tag(Model, "article");
}
@{ 
    if (string.IsNullOrEmpty(WorkContext.Layout.Title.ToString()))
    {
        WorkContext.Layout.Title = title;
    }
}
<!-- Header -->
<header style="background-image: url('/OrchardLocal/Themes/Diaco.KimiaRazi.Original/Content/Images/Shared/header-bg4.jpg');">
    <div class="container">
        <div class="intro-text">
        </div>
    </div>
</header>

<!-- Colors Grid Section -->

<section id="colors" class="bg-light-gray">
    <div class="container">
        <div class="row post">
            <div class="col-xs-12">
                <img class="article-img-1 pull-right" src="/OrchardLocal/Media/Default/Images/article/special-glaze.jpg" />
                <h2>Special Glazes</h2>
                <p>Sometimes for gaining specific effects in particular deigns we must use special glaze, without which you are not able to design specially.</p>
                <p>With these materials you can make effects such as, bumps and dips, metal shining, cracks and etc. on tile surface.</p>
                <p>KimiaRazi specific glazes are produced by the latest and advanced technology and the most modern machinery which are as competitive as reputable European producers’ products in quality and consistency.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 post">
                <div class="team-member">
                    <img src="/OrchardLocal/Media/Default/Images/Portfolio/vetrosa-protection.jpg" class="img-responsive img-circle" alt="Kimia Razi Special Glaze">
                    <h4>Protection Glaze</h4>
                    <p class="text-muted">Special Glazes</p>
                </div>
            </div>
            <div class="col-sm-4 post">
                <div class="team-member">
                    <img src="/OrchardLocal/Media/Default/Images/Portfolio/vetrosa-metallic.jpg" class="img-responsive img-circle" alt="Kimia Razi Special Glaze">
                    <h4>Metallic Glaze</h4>
                    <p class="text-muted">Special Glazes</p>
                </div>
            </div>
            <div class="col-sm-4 post">
                <div class="team-member">
                    <img src="/OrchardLocal/Media/Default/Images/Portfolio/vetrosa-crackle.jpg" class="img-responsive img-circle" alt="Kimia Razi Special Glaze">
                    <h4>Cracked glaze</h4>
                    <p class="text-muted">Special Glazes</p>
                </div>
            </div>
        </div>
    </div>
</section>

@Display(Model.Content)
@if (Model.Footer != null)
{
    <footer>
        @Display(Model.Footer)
    </footer>
}