@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Fields
@using Orchard.Utility.Extensions;

@{
    var field = (MediaLibraryPickerField) Model.ContentField;
    string displayName = field.DisplayName;
    string name = field.Name;
    var contents = field.MediaParts;
}
<div class="media-library-picker-field media-library-picker-field-@name.HtmlClassify()">
    @foreach (var content in contents)
    {
        @Display(BuildDisplay(content, "Summary"))
    }
</div>
